<div class="page-header">
  <h1>{{ page.title }} {% if page.tagline %} <small>{{ page.tagline }}</small>{% endif %}</h1>
</div>

<div class="row">
  <div class="span10">
    {{ content }}
  </div>
  <div class="span2">
    <!-- Facebook Badge START -->
    <a href="https://www.facebook.com/asymms" target="_TOP" title="And Sometimes Y Manx, Morris &amp; Sword"><img src="https://badge.facebook.com/badge/471153149599466.2192.1383298235.png" style="border: 0px;" /></a>
    <!-- Facebook Badge END -->
  </div>
</div>
