<div class="page-header">
  <h1>{{ page.title }} {% if page.tagline %} <small>{{ page.tagline }}</small>{% endif %}</h1>
</div>

<div class="row">
  <div class="span10">
    {{ content }}
  </div>
  <div class="span2">

    <!-- Facebook Badge START -->
    <a href="https://www.facebook.com/asymms" target="_TOP" title="And Sometimes Y Manx, Morris &amp; Sword"><img src="https://badge.facebook.com/badge/471153149599466.2192.1383298235.png" style="border: 0px;" /></a>
    <!-- Facebook Badge END -->

    <!-- Kickstarter Badge START -->
    <a href="http://www.kickstarter.com/projects/794688447/and-sometimes-y-visits-the-isle-of-man" target="_TOP"  title="And Sometimes Y Manx, Morris &amp; Sword Visits the Isle of Man"  style="padding: 0em 2.5em 0em 0.5em; margin: 1em 0em 0em 0em; display: block;"><img src="/assets/themes/asymanx/img/kickstarter-badge-funded.png"></a>
    <!-- Kickstarter Badge END -->

  </div>
</div>
